.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px;
}

.head-style{
    background-image: url("../uploads/shapes.png");
    background-color: #faf4f2;
    margin: 0;
    background-repeat: no-repeat;
}
.header-sec{
    background-image: url("../uploads/camping.png");
    background-size:auto;

    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-left: 1px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;



}

.header-main{
    color: white;
    text-align: center;
    padding: 19px 21px;
    margin: 14px;
    text-decoration: none;
    transition-duration:0.1s;
    cursor: pointer;
    border: none;
    position: relative;
    left: -15px;
}
.hovermain:hover{
    background-color: gainsboro;
    color: black;
    border-radius: 20px;
}

.xo {
    background-color:rgba(231,111,81,0.97);
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition-duration:0.4s;
    cursor: pointer;
}
.hoverxo:hover{
    background-color: white;
    color: darkorange;
}
.singin {
    border: 2px solid gainsboro;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition-duration:0.5s;
    cursor: pointer;
}

.hoversin:hover{
    background-color: gainsboro;
    color: black;

}
.headerfontsize{
    font-size: xxx-large;
}
.paragraphfont{
    font-size: medium;
}
.firstmenu{

    background-color: #FAF4F2;
    color: black;
    border-radius: 20px;
    padding: 40px;
    margin: 30px;
    float:right ;
    display: inline-flex;

}
.flex-container {
    display: flex;
}
.flex-container {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
.sec_menu {
    background: white;
    border: white;
    border-radius: 36px;

    color: black;
    font-size: medium;
    text-align: center;
    padding: 56px;

    position: relative;
    top: -132px;
    left: -209px;

    display: block;
    width: 1500px;
    margin: 0 auto;
}
.fire_img {
    margin-top: 10px;
}
.point{
     border: unset;
    text-align: center;
    font-size: xx-large;
}
.third_menu{

    background: white;
    border: white;
    border-radius: 20px;
    display: inline-block;
    color: black;
    font-size: medium;
    text-align: center;
    padding: 41px;
    margin: 10px;
    position: relative;
    top: 86px;
    left:-205px;
    padding-bottom: 70px;
}
.third_info{
    border: white;
    background: white;
    color: darkorange;
    border-radius: 20px;
    padding: 19px;
    margin: 71px;
    margin-block: auto;
    top: -38px;
    position: relative;
    transition-duration:0.4s;
}
.third_info_link{
    background-color:rgba(227,228,225,0.97);
    border: none;
    color: rgba(79,79,79,0.97);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition-duration:0.4s;
    position: relative;
    top: 35px;
}
.third_info_link_hover:hover{
    background-color:white;
    color:darkorange;
}
.view_more{
    border: 1px solid darkorange;
    color: darkorange;
    padding: 19px 81px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 165px 95px;
    cursor: pointer;
    border-radius: 38px;
    transition-duration:0.5s;
    cursor: pointer;
    position: relative;
    left:-745px ;
    top: 13px;
}
.view_more_hover:hover{
    background-color: darkorange;
    color: white;
}
.forth_menu{
    border: rgba(248,225,219,0.97);
    background-color: rgba(248,225,219,0.97);
    color: black;
    display: inline-block;
    border-radius:15px;
    position: relative;
    right: -15px;


}


/*******************/
.test{
    display: block;
}
.test_2{
    display: block;
    position: relative;
    top: -190px;


}
.container{
    display: block;
    width: 1500px;
    margin: 0 auto;
    margin-top: 71px;
    margin-bottom: 72px;
    margin-left: 5px;
    margin-right: 213px;
}
.featured-boxs{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.fbox{
    border-radius: 20px;
    float: right;
    width: calc((100% - 90px) / 4);
    height: 200px;
    background-color:#FFFFFF;
    margin-left: 30px;
    padding-top: 52px;
    padding-bottom: 52px;
}
.fbox:last-child{
    margin-left: 0;
}
.header_padding{
     padding-bottom: 393px
}
.forth_background{
    background-image: url("../uploads/forth menu.png" );height: 390px;width: 1518px;
}
.posision{
    position: relative;
    bottom: -9px;
    top: 24px;
    right: 42px;
}
.head3_fontsize{
    font-size: xxx-large;

}
.paragraph_fontsize{
    font-size:medium;
    position: relative;
    top: -40px;
    left: 5px;
}
.form_style{
    border-radius: 20px;
    border: #FFFFFF;
    text-align: center;
    font-size: large;
    padding: 35px;
    padding-right: 28px;
    padding-left: 357px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: -25px;
    position: relative;
    bottom: 110px;
}
.form_style_img{
    position: relative;
    left: 80px;
    bottom:50px
}
.list_style{
    list-style-type: none;
    color: black;
    text-decoration: none;
    display: block;
}
.firt_list_valed{

    font-size: 20px;
    text-decoration: none;
    padding: 25px;
    margin-right: 30px;

}
.last_border{
    border: #F8E1DB;
    background-color: #F8E1DB;
    color: black;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 0px;
    margin: 6px;
    margin-top: 259px;
    position: relative;
    top: 90px;
}
.header-main_2{
    color: black;
    text-align: center;
    padding: 15px 5px;
    margin-left: 160px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: relative;
    left: -45px;
   bottom: 60px;

}
.hovermain_2:hover{
    color: darkorange;
}
.last_h3{
position: relative;
    bottom: 70px;
}
.last_links{
    display: flex;
    color: black;
    text-decoration: none;

}
.last_links_2{
    position: relative;
    right: 110px;
}
.header_main_3{
    color: black;
    text-align: center;
    padding: 5px 15px;
    margin-left: 160px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: relative;
    left: -65px;
    bottom: 40px;


}
.header_main_3_5{
    color: black;
    text-align: center;
    padding: 5px 15px;
    margin-left: 160px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: relative;
    left: -65px;
    bottom: 40px;


}
.header-main_4{
    color: black;
    text-align: center;
    padding: 15px 5px;
    margin-left: 160px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: relative;
    left: -40px;
    bottom: 75px;

}
.final_border_1{
    border: #F8E1DB
}
.header_main_3_5{
    color: black;
    text-align: center;
    padding: 5px 15px;
    margin-left: 160px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: relative;
    left: -65px;
    bottom: 50px;


}
.h3_posision{
    border: #F8E1DB;
    text-align: end;
    margin: 60px;

}
.h3_posision_1{
    padding: 1px;

}
.two_logos{
    position: relative;
    top: 40px;
}
.bookmark{    border: #FFFFFF;
    border-radius: 20px;
    background-color: #FFFFFF;
    transition-duration: 0.4s;
    position: relative;
    bottom: 25px;
    right: 170px;
    display: inline-block;
    padding: 15px;
    height: 23px;
}
.bookmark_hover:hover{
    background-color: rgba(250,244,242,0.97);
}



