
.header-nav {
    font-family: "Sofia", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px;
}

.head-style {
    /*background-image: url("../uploads/shapes.png");*/
    background-color: #faf4f2;
    margin: 0;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.header-sec {
    background-image: url("../uploads/camping.png");
    background-size: auto;

    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-left: 1px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;


}

.header-main {
    font-family: "Sofia", sans-serif;
    color: white;
    text-align: center;
    padding: 0% 25%;
    margin: 14px;
    text-decoration: none;
    transition-duration: 0.1s;
    cursor: pointer;
    border: none;
    position: relative;
    left: -15px;
}

.hovermain:hover {
    background-color: gainsboro;
    color: black;
    border-radius: 20px;
}

.xo {
    background-color: rgba(231, 111, 81, 0.97);
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.hoverxo:hover {
    background-color: white;
    color: darkorange;
}

.singin {
    border: 2px solid gainsboro;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.hoversin:hover {
    background-color: gainsboro;
    color: black;

}

.headerfontsize {
    font-size: xxx-large;
    margin: 4%


}

.paragraphfont {
    font-size: medium;
}

.firstmenu {

    background-color: #FAF4F2;
    color: black;
    border-radius: 20px;
    padding: 40px;
    margin: 30px;
    float: right;
    display: inline-flex;

}

.flex-container {
    display: flex;
}

.flex-container {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.sec_menu {
    background: white;
    border: white;
    border-radius: 36px;

    color: black;
    font-size: medium;
    text-align: center;
    padding: 56px;

    position: relative;
    top: -132px;
    left: -209px;

    display: block;
    width: 1500px;
    margin: 0 auto;
}

.fire_img {
    margin-top: 10px;
}

.point {
    border: unset;
    text-align: center;
    font-size: xx-large;
}

.third_menu {
    font-family: "Sofia", sans-serif;

    background: white;
    border: white;
    border-radius: 20px;
    display: inline-block;
    color: black;
    font-size: medium;
    text-align: center;
    padding: 41px;
    margin: 10px;
    position: relative;
    top: 86px;
    left: -205px;
    padding-bottom: 70px;
}

.third_info {
    border: white;
    background: white;
    color: darkorange;
    border-radius: 20px;
    padding: 19px;
    margin: 71px;
    margin-block: auto;
    top: -38px;
    position: relative;
    transition-duration: 0.4s;
}

.third_info_link {
    font-family: "Sofia", sans-serif;
    background-color: rgba(227, 228, 225, 0.97);
    border: none;
    color: rgba(0, 0, 0, 0.24);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition-duration: 0.4s;
    position: relative;
    top: 35px;
}

.third_info_link_hover:hover {
    background-color: white;
    color: darkorange;
}

.view_more {
    font-family: "Sofia", sans-serif;
    border: 1px solid darkorange;
    color: darkorange;
    padding: 19px 81px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 165px 95px;
    cursor: pointer;
    border-radius: 38px;
    transition-duration: 0.5s;
    cursor: pointer;
    position: relative;
    left: -745px;
    top: 13px;
}

.view_more_hover:hover {
    background-color: darkorange;
    color: white;
}

.forth_menu {
    border: rgba(248, 225, 219, 0.97);
    background-color: rgba(248, 225, 219, 0.97);
    color: black;
    display: inline-block;
    border-radius: 15px;
    position: relative;
    right: -15px;
}


.forth_menu::after {
    content: '';
    position: absolute;
    background-image: url("../uploads/forth menu.png");
    background-repeat: no-repeat;
    width: 1518px;
    height: 390px;

    top: 0;
    z-index: 0;
    right: -15px;
}


.test {
    display: block;
    font-family: "Sofia", sans-serif;
}

.test_2 {
    font-family: "Sofia", sans-serif;
    display: block;
    position: relative;
    top: -130px;


}

.test_2::after {
    content: '';
    position: absolute;
    background-image: url("../uploads/Shapes.png");
    background-repeat: no-repeat;
    width: 2749px;
    height: 1885px;
    right: -500px;
    top: 0;
    z-index: -100;
}


.container {
    display: block;
    width: 1500px;
    margin: 0 auto;
    margin-top: 71px;
    margin-bottom: 72px;
    margin-left: 5px;
    margin-right: 213px;
    height: 390px;
}


.featured-boxs {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.fbox {
    border-radius: 20px;
    float: right;
    width: calc((100% - 90px) / 4);
    height: 200px;
    background-color: #FFFFFF;
    margin-left: 30px;
    padding-top: 52px;
    padding-bottom: 52px;
    display: flex;
    flex-direction: column
}

.fbox:last-child {
    margin-left: 0;
}

.header_padding {
    padding-bottom: 370px
}


.posision {
    font-family: "Sofia", sans-serif;
    position: relative;
    bottom: -9px;
    top: 24px;
    right: 42px;
}

.head3_fontsize {
    font-size: xxx-large;

}

.paragraph_fontsize {
    font-size: medium;
    position: relative;
    top: -40px;
    left: 5px;
}

.form_style {
    border-radius: 20px;
    border: #FFFFFF;
    text-align: center;
    font-size: large;
    padding: 35px;
    padding-right: 28px;
    padding-left: 357px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0px;
    display: flex;

}

.form_style_img {
    position: relative;
    left: 80px;
    bottom: 50px
}

.list_style {
    list-style-type: none;
    color: black;
    text-decoration: none;
    display: block;
}

.firt_list_valed {

    font-size: 20px;
    text-decoration: none;
    padding: 25px;
    margin-right: 30px;

}

.last_border {
    font-family: "Sofia", sans-serif;
    border: #F8E1DB;
    background-color: #F8E1DB;
    color: black;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 0px;
    margin: 6px;
    margin-top: 259px;
    position: relative;
    top: 90px;
}

.header-main_2 {
    font-family: "Sofia", sans-serif;
    color: black;
    text-align: center;
    padding: 15px 5px;
    margin-left: 130px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: relative;
    left: -45px;
    bottom: 155px;

}

.hovermain_2:hover {
    color: #ff8c00;
}

.last_h3 {
    position: relative;
    bottom: 150px;
}

.last_links {
    display: flex;
    color: black;
    text-decoration: none;

}

.last_links_2 {
    position: relative;
    right: 110px;
}

.header_main_3 {
    color: black;
    text-align: center;
    padding: 5px 15px;
    margin-left: 0px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: relative;
    left: -65px;
    bottom: 135px;


}

.header_main_3_5 {
    font-family: "Sofia", sans-serif;
    color: black;
    text-align: center;
    padding: 5px 15px;
    margin-left: 160px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: relative;
    left: -65px;
    bottom: 140px;


}

.header-main_4 {
    font-family: "Sofia", sans-serif;
    color: black;
    text-align: center;
    padding: 15px 5px;
    margin-left: 160px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: relative;
    left: -40px;
    bottom: 165px;

}

.final_border_1 {
    border: #F8E1DB
}

.header_main_3_5 {
    color: black;
    text-align: center;
    padding: 5px 15px;
    margin-left: 160px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: relative;
    left: -65px;
    bottom: 140px;


}

.h3_posision {
    font-family: "Sofia", sans-serif;
    border: #F8E1DB;
    text-align: end;
    margin: 60px;

}

.h3_posision_1 {
    padding: 1px;

}

.two_logos {
    position: relative;
    top: 40px;
}

.bookmark {
    border: #FFFFFF;
    border-radius: 20px;
    background-color: #FFFFFF;
    transition-duration: 0.2s;
    position: relative;
    bottom: 25px;
    right: 170px;
    display: inline-block;
    padding: 15px;
    height: 23px;
}

.bookmark_hover:hover {
    background-color: rgba(250, 244, 242, 0.97);
}

.navbar {
    direction: rtl;
    text-align: right;
    padding-right: 30px;
}

ul {
    padding: 0px;
    margin: 0px;
}

ul.menu li {
    display: inline-block;
    list-style: none;
    transition: all 0.4s;
    position: relative;
}

ul.menu li a {
    display: inline-block;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
}

ul.menu li a:hover {
    background: #fcfbfb;
}

ul.menu li i {
    vertical-align: middle;
    margin-right: 5px;
}

/* sub menu */
ul.submenu {
    display: none;
    width: 160px;
    position: absolute;
    top: 42px;
}

ul.submenu li {
    display: block;
    border-bottom: 1px solid #fff;
}

ul.submenu li a {
    display: block;
}

ul.menu li:hover ul.submenu {
    display: block;
}

.icon-tel {
    background: url("../uploads/form2 img.png") center center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-flex;
}

.list_decor li {
    list-style: none
}

.forth_menu_background {
    position: relative;
    left: -960px;
    z-index: 1;
}

.forth_menu_background_possision {
    position: relative;
    top: -380px;
}

.button {
    border: none;
    color: white;
    padding: 16px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 20px;
    padding-right: 12px;
    padding-left: 15px;
}

.button1 {
    background-color: #e76f51;
    color: black;
    border: #e76f51;
    position: relative;
    left: 80px;
}

.button1:hover {
    background-color: #d74b00;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.s-link-icon {
    background: url("../uploads/ply.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    bottom: -1px;
}

.div_style {
    position: relative;
    top: -380px;
    z-index: 1;
}

.get-link {
    display: inline-flex;
}
